#upMiddle {
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 2%;
	margin-top: 3%;
}

h1 {
  text-shadow: 4px 4px 5px grey;
  font-size: xx-large;
  text-align: center;
}

p {
  font-size: x-large;
  text-align: left;
  letter-spacing: 0.14em;
}
#nastia {
	border: 3px solid black;
	border-radius: 50%;
	max-width: 35%;
}
#orif {
	max-width: 40%;
	border-radius: 20%;
	border: 2px solid black;
	transform: rotate(-90deg);
	margin-left: 5%;
}
 /* #footer{
    position: absolute;
    bottom: 0;
    left: 0;
} */
#footer {
   position: static;
   left:0px;
   bottom:10%;
   top: 50%;
   height:10%;
   width:100%;
   
}
#footer p, h3 {
	margin-left: 5%;
	margin-right: 3%;
	
}
#middle {
	display: block;
	margin-bottom : 5%;
	padding-bottom: 5%;
}

#canvas_container {
          width: 100%;
          height: 28em;
          overflow: auto;
      }
 
      #canvas_container {
        background: #333;
        text-align: center;
        border: solid 3px;
      }
	  
#go_previous, #go_next {
  text-decoration: none;
  display: inline-block;
  padding: 7px 10px;
  margin: 5px 4px;
  border-radius: 7px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

#zoom_in, #zoom_out {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin: 4px 10px;
  border-radius: 7px;
  box-shadow: 0 0 20px 20px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

#current_page {
  text-decoration: none;
  display: inline-block;
  padding: 5px 2px;
  margin: 5px 2px;
  border-radius: 7px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

#go_previous:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}
#go_next:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}
#zoom_in:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}
#zoom_out:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}



.social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 1px 0.1rem 5px 3em;
	text-align: center;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 24px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.social a:hover {
	border-color: #888;
	opacity: .8;
}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.telegram a {background: #249bd7}
.vk a {background: #4a76a8}
.whatsapp a {background: #50b154}